.hold1{
    width: 180px !important;
    overflow: auto !important; 
    height: 100px !important;

}

.table-holder1{
    position: relative;
    right: 70px !important;
}

.head-position{    
position: relative;
right: 95px;
}
.overflow{
    height: 100px !important;
    overflow-y: auto !important;
    overflow-x: hidden;
 }


