.posts {
  z-index: -1;
}
.table-spc {
  width: 180px !important;
}
.table-holder {
  width: 1050px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 20px;
  border-radius: 5px;
  border-bottom: 30px solid white;
  z-index: 0;
}
.add-btn {
  width: 200px;
  float: right;
  padding: 10px;
}
.table {
  position: relative;
  right: 25px;
  width: 1000px !important;
  margin-bottom: 30px !important;
}

.table-holder{
    width: 1050px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 20px;
    border-radius: 5px;
    border-bottom: 30px solid white;
    
}

/* .table{
    background-color: white !important;
} */

.add-btn{
    width: 200px;
    float: right;
    padding: 10px;
    
   
}


@media screen and (max-width: 1366px) {
  .add-btn {
    float: left;
    position: relative;
    left: 20px;
  }
}
